body{
background-image:url("http://limeshot.com/images/blog/twitter/bg-ruby.png");
}

nav{
width:400px;
float:left;
border:2.97px solid;
border-color:orange;
}
main{
border:3px solid;
border-color:orange;
margin-left:401px;
font-family:sans-serif;
}
p{
border:2px solid;
border-style:solid none;
border-color:orange;
padding:0cm 10cm 0cm 1cm;
}
h1{
font-family:sans-serif;
border-color:orange;
border:3px solid orange;
padding:0cm 2cm 0cm 2cm;
}
img{
border:3px solid;
border-color:white;
}


